* {
  background: rgb(245 245 245);
}
.image-container {
  max-width: 1000px;
  min-width: 500px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.image-data-header-row {
  max-width: 100%;
  height: 2rem;
  display: grid;
  grid-template-columns: 0.05fr 0.1fr 0.1fr 0.2fr 0.05fr 0.2fr 0.3fr;
  background: rgb(0, 105, 255);
  align-items: center;
  font-weight: 700;
}
.table-header {
  background: transparent;
  color: rgb(240 240 240);
}
.image-row {
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.05fr 0.1fr 0.1fr 0.2fr 0.05fr 0.2fr 0.3fr;
  font-size: 1.05rem;
  line-height: 1.5;
  padding-top: 10px;
}
.number {
  justify-self: center;
}
.thumbnail {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  justify-self: center;
  background-size: contain;
}
