* {
  font-size: 16px;
  font-family: "Playpen Sans", sans-serif;
  /* font-weight: 800; */
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
:root {
  --clr-or: hsl(43, 89%, 38%);
  --clr-ylw: rgb(248, 245, 56);
  --clr-red: rgb(161, 29, 29);
  --clr-blu: rgb(26, 26, 168);
  --clr-blu2: rgba(26, 26, 168, 0.25);
  --font-fam: "Noto Sans", sans-serif;
  --txt-md: 2rem;
  --transition: all 0.25s ease-in-out;
  --clr-acc1: rgb(0, 103, 71);
  --clr-wht: #fff;
  --hvr-opc: 0.7;
}

body {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "title" "container";
}

.container {
  grid-area: container;
  width: 90vw;
  /* background: rgb(100 200 50 / 0.3); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "login-container";
  place-content: center;
  place-items: center;
}
.login-container {
  grid-area: login-container;
  width: 100%;
  min-height: 500px;
  /* background: rgb(200 100 200 / 0.2); */
  display: grid;
  grid-template-rows: 0.05fr 1fr 0.05fr 0.5fr;
  grid-template-areas:
    "....."
    "student-name-container"
    "....."
    "teacher-name-container";
}
.container-heading {
  height: 50px;
  display: grid;
  place-content: center;
  align-content: end;
  font-size: 1.6rem;
  padding: 1rem;
}
.student-name-container,
.teacher-name-container {
  width: 100%;
  /* height: 500px; */
  background: rgb(20 20 20 / 0.2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  /* column-gap: 20px; */
}

.student-name-container {
  grid-area: student-name-container;
}
.teacher-name-container {
  grid-area: teacher-name-container;
}

.user-container {
  width: 6.5rem;
  height: 6rem;
  margin: 1rem;
  display: grid;
  align-content: start;
  justify-content: center;
  /* border: 1px solid red; */
  animation: userItemEntrance 3s ease-out;
  animation-fill-mode: backwards;
  transition: var(--transition);
}

.user-container:hover {
  scale: 1.05;
  transition: var(--transition);
}

.user-initials-container {
  width: 5.3rem;
  height: 4.3rem;
  background: #006747;
  /* border: 1px solid blue; */
  display: grid;
  align-self: start;
  justify-self: center;
  place-content: center;
  font-size: 2rem;
  border-radius: 5px;
}
.user-name-container {
  min-width: 2rem;
  height: 1rem;
  color: #fff;
  display: grid;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1.08rem;
  /* border: 1px solid orange; */
}
.student-password-grid-container {
  display: grid;
}
.student-username-container {
  display: grid;
  justify-self: center;
  font-size: 1.5rem;
}
.student-selected-password-images {
  width: 10rem;
  height: 5rem;
  /* margin-top: 1rem; */
  display: grid;
  column-gap: 10px;
  justify-self: center;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  color: black;
}

.student-password-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.grid-image {
  width: 4rem;
  height: 4rem;
  display: grid;
  /* border: 1px red solid; */
  fill: black;
  top: 0;
  left: 0;
  place-content: center;
  background-size: contain;
}

.chosen-image {
  width: 4.3rem;
  height: 4.3rem;
  display: grid;
  /* border: 1px red solid; */
  top: 0;
  left: 0;
  place-content: center;
  background-size: contain;
}

.student-login-btn-container,
.teacher-login-btn-container {
  width: 70%;
  margin: auto;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  place-content: center;
  justify-self: center;
}

.modal {
  padding: 1.5rem;
  max-width: 70ch;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);
}
.modal::backdrop {
  background: linear-gradient(30deg, rgb(0 55 155), rgb(130 29 55));
  opacity: 0.2;
}
.hide {
  display: none;
}
.selected {
  width: 110%;
  height: 110%;
  scale: 1.05;
  background-color: var(--clr-blu2);
  border: 5px solid var(--clr-blu1);
  border-radius: 5px;
}

@keyframes userItemEntrance {
  from {
    opacity: 0;
    scale: 0.3;
    translate: 0% -20%;
  }
  to {
    opacity: 1;
    scale: 1;
    translate: 0% 0%;
  }
}
