* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
:root {
  --clr-or: hsl(43, 89%, 38%);
  --clr-ylw: rgb(248, 245, 56);
  --font-fam: "Noto Sans", sans-serif;
  --transition: all 0.25s ease-in-out;
  --clr-acc1: #006747;
  --clr-wht: #fff;
  --hvr-opc: 0.7;

  --border-width: 1px;
}

h2 {
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background: white;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "main-container";
  touch-action: none;
  overflow-y: hidden;
  cursor: pointer;
}
@media (width > 600px) {
  body {
    height: 100vh;
    width: 100vw;
    background: white;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: "main-container";
    touch-action: none;
    overflow: hidden;
  }
}
body::-webkit-scrollbar {
  width: 0.25;
}
body:not(:has(*)) {
  display: none;
}

/*
  
  *****
  02. Page Structure
  *****
  
*/

.main-container {
  grid-area: main-container;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #222;
}
.container {
  height: 100%;
  width: 100%;
  background: #222;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.1fr 0.25fr 0.25fr 0.25fr 1.25fr;
  grid-template-areas:
    "..... ..... ..... ....."
    "..... btn-container1 btn-container1 ....."
    "..... letter-display letter-display ....."
    "..... btn-container3 btn-container3 ....."
    "..... letter-grid letter-grid .....";
  place-content: center;
  place-items: center;
  z-index: 0;
  margin: auto;
  overflow: hidden;
}
@media (width > 600px), (height > 800px) {
  .container {
    grid-template-columns: 0.25fr 0.25fr 1fr 1fr 0.25fr 0.25fr;
    grid-template-rows: 0.05fr 0.15fr 0.15fr 0.075fr 0.15fr 0.05fr 1.25fr 0.1fr;
    grid-template-areas:
      "..... ..... ..... ..... ..... ....."
      "..... ..... btn-container1 btn-container1 ..... ....."
      "..... letter-display letter-display letter-display letter-display ....."
      "..... ..... ..... ..... ..... ....."
      "..... .....  btn-container3  btn-container3 ..... ....."
      "..... ..... ..... ..... ..... ....."
      ".....  .....  letter-grid letter-grid .....  ....."
      "..... ..... ..... ..... ..... .....";
  }
}
.btn-container1 {
  grid-area: btn-container1;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "timer  score-display";
}
.btn-container2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "..... ..... ....."
    "..... start-btn ....."
    "..... exit-btn .....";
  position: absolute;
  place-content: center;
  place-items: center;
}
.btn-container3 {
  grid-area: btn-container3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "repeat-btn delete-btn check-btn";
  place-content: center;
  place-items: center;
  z-index: 20;
}
.grid {
  grid-area: letter-grid;
  max-width: 400px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 7px;
  row-gap: 15px;
  grid-template-areas:
    "vowels vowels vowels vowels vowels"
    "consonants consonants consonants consonants consonants"
    "consonants consonants consonants consonants consonants"
    "consonants consonants consonants consonants consonants"
    "consonants consonants consonants consonants consonants";
  place-content: center;
  place-items: center;
  perspective: 1000px;
  overflow: hidden;
  --stagger-delaay: 0.1s;
  transition: 0.3s;
}

@media (width > 600px), (height > 800px) {
  .grid {
    grid-area: letter-grid;
    max-width: 1000px;
    max-height: 1000px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-content: center;
    place-items: center;
    perspective: 1000px;
    overflow: hidden;
    --stagger-delaay: 0.1s;
    transition: 0.3s;
  }
}

.no-touch {
  pointer-events: none;
}

/*
  
  *****
  03. UI Elements
  *****
  
*/

.timer {
  grid-area: timer;
  color: white;
  font-size: 5rem;
  display: flex;
  place-content: center;
}
.score-display {
  grid-area: score-display;
  color: rgb(248, 245, 56);
  font-size: 5rem;
  display: flex;
  place-content: center;
  margin-left: 40px;
}

@media (width > 600px), (height > 800px) {
  .score-display {
    font-size: 6rem;
  }
}
#start-btn {
  grid-area: start-btn;
  height: 125px;
  width: 250px;
  /* margin: auto; */
  color: white;
  background: rgb(161, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-radius: 25px;
  border: transparent;
  z-index: 10;
  transition: 0.6s;
}

@media (width > 600px), (height > 800px) {
  #start-btn {
    height: 200px;
    width: 500px;
  }
}
#exit-btn {
  grid-area: exit-btn;
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 10rem;
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 50%;
  /* border: black solid 3px; */

  z-index: 10;
  transition: 0.6s;
  animation: cardEntrance 0.5s ease-out;
}
@media (width > 600px), (height > 800px) {
  #exit-btn {
    width: 75px;
    height: 75px;
    font-size: 4rem;
  }
}
.end-messages-container {
  height: 550px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 125px 125px;
  grid-template-areas:
    "final-score-alert"
    "try-again-btn"
    "finish-btn";
  place-content: center;
  place-items: center;
  position: absolute;
}
@media (width > 600px), (height > 800px) {
  .end-messages-container {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 130px;
    row-gap: 20px;
    grid-template-areas:
      "final-score-alert final-score-alert"
      "try-again-btn  finish-btn";
    place-content: center;
    place-items: center;
    position: absolute;
  }
}
.final-score-alert {
  grid-area: final-score-alert;
  height: 275px;
  width: 300px;
  margin: auto;
  color: var(--clr-ylw);
  opacity: 0;
  border: transparent;
  border-radius: 15px;
  font-size: 5.5rem;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke: 2px black;
  display: flex;
  place-content: center;
  place-items: center;
  z-index: 20;
  position: absolute;
}
@media (width > 600px), (height > 800px) {
  .final-score-alert {
    grid-area: final-score-alert;
    height: 275px;
    width: 600px;
    margin: auto;
    color: var(--clr-wht);
    background: var(--clr-acc1);
    opacity: 0;
    border: transparent;
    border-radius: 40px;
    font-size: 7rem;
    display: flex;
    place-content: center;
    place-items: center;
    z-index: 20;
    position: absolute;
    box-shadow: rgba(2, 8, 20, 0.8) 0px 15px 20px 7px,
      rgba(2, 8, 20, 0.5) 0px 20px 30px 10px;
  }
}
.try-again-btn,
.finish-btn {
  height: 100%;
  width: 100%;
  margin: auto;
  /* padding: 20px; */
  display: flex;
  place-content: center;
  place-items: center;
  color: white;
  border: transparent;
  border-radius: 15px;
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
  box-shadow: rgba(2, 8, 20, 0.5) 0px 20px 30px 10px;
  position: absolute;
  z-index: 21;
  transition: 0.3s;
}
@media (width > 600px), (height > 800px) {
  .try-again-btn,
  .finish-btn {
    height: 90px;
    width: 250px;
    margin: auto;
    padding: 20px;
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
    border: transparent;
    border-radius: 30px;
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
    box-shadow: rgba(2, 8, 20, 0.5) 0px 20px 30px 10px;
    position: absolute;
    z-index: 21;
    transition: 0.3s;
  }
}
.try-again-btn {
  grid-area: try-again-btn;
  background: rgb(161, 29, 29);
  margin-left: -600px;
  opacity: 0;
}
.finish-btn {
  grid-area: finish-btn;
  background: rgb(26, 26, 168);
  margin-left: 600px;
}
.try-again-btn:hover,
.finish-btn:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

/*
  
  *****
  04. App Specific Elements
  *****
  
  */

.letter-display {
  grid-area: letter-display;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
  /* white-space: pre-wrap; */
  word-break: break-all;
  /* margin-top: 2rem; */
  /* margin-bottom: 1.75rem; */
  font-family: var(--font-fam);
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* place-content: end; */
  position: relative;
  align-self: center;
  place-content: center;
  place-items: stretch;
}
@media (width > 600px), (height > 800px) {
  .letter-display {
    grid-area: letter-display;
    min-height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    margin-top: 2rem;
    /* margin-bottom: 1.75rem; */
    font-family: var(--font-fam);
    text-align: center;
    font-size: 5em;
    letter-spacing: 10px;
    color: white;
    display: flex;
    align-self: center;
    z-index: 51;
    padding-bottom: 2rem;
  }
}

.check-btn {
  grid-area: check-btn;
  width: 110px;
  height: 50px;
  margin: 5px;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background: rgb(161, 29, 29);
  border: none;
  border-radius: 5px;
  display: flex;
  place-items: center;
  place-content: center;
}
@media (width > 600px), (height > 800px) {
  .check-btn {
    width: 160px;
    height: 75px;
    font-size: 2.5rem;
    border-radius: 15px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .check-btn:hover {
    scale: 1.05;
    transition: 0.25s;
  }
  .check-btn:active {
    scale: 1;
    transform: translateY(4px);
    z-index: -10;
    transition: 0.1s;
  }
}
.repeat-btn {
  grid-area: repeat-btn;
  width: 110px;
  height: 50px;
  margin: 5px;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background: rgb(26, 26, 168);
  border: none;
  border-radius: 5px;
  display: flex;
  place-items: center;
  place-content: center;
}

@media (width > 600px), (height > 800px) {
  .repeat-btn {
    width: 160px;
    height: 75px;
    font-size: 2.5rem;
    border-radius: 15px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .repeat-btn:hover {
    scale: 1.05;
    transition: 0.25s;
  }
  .repeat-btn:active {
    scale: 1;
    transform: translateY(4px);
    z-index: -10;
    transition: 0.1s;
  }
}
.delete-btn {
  grid-area: delete-btn;
  width: 110px;
  height: 50px;
  margin: 5px;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background: rgb(26, 26, 168);
  border: none;
  border-radius: 5px;
  display: flex;
  place-items: center;
  place-content: center;
}

@media (width > 600px), (height > 800px) {
  .delete-btn {
    width: 160px;
    height: 75px;
    font-size: 2.5rem;
    border-radius: 15px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .delete-btn:hover {
    scale: 1.05;
    transition: 0.25s;
  }
  .delete-btn:active {
    scale: 1;
    transform: translateY(4px);
    z-index: -10;
    transition: 0.1s;
  }
}
:root {
  --box-width: 110px;
  --box-width2: 65px;
  --margin-width: 5px;
  --box-margin-width: calc(var(--box-width) + (var(--margin-width) * 2));
  --box-margin-width2: calc(var(--box-width2) + (var(--margin-width) * 2));
}

.box {
  height: var(--box-width2);
  width: var(--box-width2);
  margin: var(--margin-width2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  place-items: center;
  background: transparent;
  border-radius: 7px;
  font-size: 4rem;
}

@media (width > 600px), (height > 800px) {
  .box {
    height: var(--box-width);
    width: var(--box-width);
    /* margin: var(--margin-width); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    place-items: center;
    background: transparent;
  }
}
@media (hover: hover) and (pointer: fine) {
  .box:hover {
    scale: 1.05;
    transition: 0.25s;
  }
  .box:active {
    scale: 1;
    transform: translateY(4px);
    z-index: -10;
    transition: 0.1s;
  }
}
.letter {
  font-family: var(--font-fam);
  font-size: 55px;
  margin: auto;
  color: white;
  transition: 0.3s;
}
@media (width > 600px), (height > 800px) {
  .letter {
    font-family: var(--font-fam);
    font-size: 5rem;
    margin: auto;
    color: white;
    transition: 0.25s ease-out;
  }
}

.vowel {
  background-color: rgb(253, 156, 156);
  box-shadow: 0 9px rgb(160, 98, 98);
}
.consonant {
  background-color: rgb(156, 179, 253);
  box-shadow: 0 9px rgb(112, 129, 184);
}

/*
  
  *****
  05. FX
  *****
  
  */

.blur {
  filter: blur(3px);
}
.hide {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  /* z-index: -10; */
}
.hide2 {
  opacity: 0;
  transition: 0.75s;
  pointer-events: none;
  /* z-index: -10; */
}
.gridHide {
  opacity: 0;
  transition: 0.25s;
  pointer-events: none;
  /* z-index: -10; */
}
.wobble {
  animation: wobble 0.5s ease-in-out backwards;
  transition: var(--transition);
  z-index: 10;
}

.spinfade {
  animation: spin-and-fade 1.5s ease-in-out forwards;
  transition: var(--transition);
}
.intro {
  animation: cardEntrance 0.5s ease-out forwards;
  transition: var(--transition);
}

.correctPulse {
  animation: correct-pulse 0.5s ease-out forwards;
  transition: var(--transition);
}
.newroundcardflip {
  animation: new-round-card-flip 0.6s ease-in-out forwards;
  transition: var(--transition);
}
.flip {
  animation: flip 0.6s ease-in-out forwards;
  transition: var(--transition);
}
.pulse {
  animation: pulse 0.4s ease-in-out forwards;
  transition: var(--transition);
}
.slideinfromleft {
  animation: slide-in-from-left 0.6s ease-in-out forwards;
  transition: var(--transition);
}
.slideinfromright {
  animation: slide-in-from-right 0.6s ease-in-out forwards;
  transition: var(--transition);
}

/* Animations */

@keyframes wobble {
  25% {
    transform: rotateX(-8deg) rotateY(30deg) rotateZ(7deg);
  }
  42% {
    transform: rotateX(8deg) rotateY(-10deg) rotateZ(-7deg);
  }
  50% {
    transform: rotateX(-8deg) rotateY(8deg) rotateZ(5deg);
  }
  64% {
    transform: rotateX(6deg) rotateY(-6deg) rotateZ(-5deg);
  }
  75% {
    transform: rotateX(-4deg) rotateY(4deg) rotateZ(3deg);
  }
  89% {
    transform: rotateX(2deg) rotateY(-2deg) rotateZ(-3deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes correct-pulse {
  0% {
    background: white;
  }
  50% {
    background: blue;
  }
  100% {
    background: white;
  }
}
@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}

@keyframes spin-and-fade {
  5% {
    transform: rotateY(0deg) scale(0.9);
  }
  10% {
    transform: rotateY(0deg) scale(1.4);
  }
  40% {
    transform: rotateY(0deg) scale(1.2);
  }
  100% {
    transform: rotateY(1000deg) scale(0);
  }
}
@keyframes new-round-card-flip {
  5% {
  }
  50% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotateX(180deg);
  }
}
@keyframes flip {
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
    transform: rotateX(180deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}
@keyframes slide-in-from-left {
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(300px);
  }
}
@keyframes slide-in-from-right {
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(-300px);
  }
}
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.streak {
  font-family: var(--font-fam);
  font-size: 4rem;
  font-weight: 700;
  color: rgb(190, 7, 7);
  letter-spacing: 3px;
}
.letter-glow {
  font-family: var(--font-fam);
  font-size: 80px;
}

.pulse {
  animation: pulse 0.5s ease-in-out forwards;
}

.newbox {
  background: rgb(71, 71, 238);
  border-radius: 15px;
  animation: boxmove 3s linear forwards;
  animation-iteration-count: infinite;
  animation-composition: add;
}
.oldbox {
  background: rgb(28, 28, 190);
  border-radius: 15px;
  opacity: 0.5;
  pointer-events: none;
}
.oldboxglow {
  box-shadow: white 0px, 0px, 10px, blue 0px 0 10px, white 0px, 0px, 10px,
    blue 0px 0 10px;
}

/* ANIMATIONS */
@keyframes pulse {
  50% {
    scale: 1.5;
  }
  80% {
    scale: 1;
  }
  88% {
    scale: 1.3;
  }
  95% {
    scale: 1.1;
  }
  100% {
    scale: 1.1;
    border-radius: 0px;
  }
}
@keyframes boxmove {
  /* 0% {
        transform: rotateZ(0deg);
    } */
  25% {
    transform: rotateZ(8deg);
  }
  75% {
    transform: rotateZ(-8deg);
  }
  /* 100% {
        transform: rotateZ(0deg);
    } */
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
