/* tertiary color: e5efec */
/* Secondary color: d3c9af */
/* Accent Color: 006747 */
/* Accent Color Opacity on Hover: 0.7 */

* {
  user-select: none;
  font-size: 16px;
  font-family: "Playpen Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}
:root {
  --clr-acc1: #006747;
  --clr-wht: #fff;
  --hvr-opc: 0.7;
}

body {
  background: white;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.25;
}

.navbar {
  height: 35px;
  width: 100%;
  background: lightblue;
  /* padding-right: 50px; */
  display: flex;
  font-size: 3rem;
  justify-content: right;
  transition: 0.3s;
  z-index: 10;
  position: absolute;
}
.navbar-nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  transition: 0.3s;
}

.nav-item {
  height: 100%;
  font-size: inherit;
  /* margin-left: auto; */
}
.nav-item:nth-child(1) {
  margin-left: 2rem;
  font-size: 1rem;
}
.nav-item:last-child {
  margin-left: auto;
  margin-right: 2rem;
}
.navbar:hover {
  height: 5rem;
  font-size: 3rem;
  transition: 0.3s;
}
.navbar-nav:hover {
  font-size: 3rem;
  transition: 0.3s;
}
.top-container {
  height: 300px;
  width: 100%;
  margin: auto;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container {
  margin: auto;
  padding: auto;
  /* height: 800px;
    width: 1000px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(200px, 200px)); */
  column-gap: 8rem;
  row-gap: 4rem;
}
.div {
  user-select: none;
  width: 100%;
  height: 200px;
  background: var(--clr-acc1);
  color: var(--clr-wht);
  display: flex;
  /* flex-direction: column; */
  border-radius: 20px;
  place-content: center;
  place-items: center;
  line-break: strict;
  font-size: 4rem;
  transition: 0.3s;
  box-shadow: 0px 24px 35px 7px rgba(0, 0, 0, 0.3);
}
.div:hover {
  box-shadow: rgba(2, 8, 20, 0.5) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.3) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.07);
  transition: 0.3s;
}
