/* tertiary color: e5efec */
/* Secondary color: d3c9af */
/* Accent Color: 006747 */
/* Accent Color Opacity on Hover: 0.7 */

* {
  font-size: 16px;
  font-family: "Playpen Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: 2rem;
}
:root {
  --clr-acc1: #006747;
  --clr-acc1-hvr: rgba(0, 103, 71, 0.7);
  --clr-wht: #fff;
  --hvr-opc: 0.7;
}

body {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  /* place-items: center; */
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-template-rows: 0.025fr 0.1fr 1fr 0.075fr;
  grid-template-areas:
    "..... ..... ..... ....."
    " ..... ..... parents-info ....."
    "..... main-container   main-container ....."
    "..... ..... ..... .....";
}
@media (width > 600px) {
  body {
    background: white;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    /* place-items: center; */
    /* grid-template-columns: 2rem minmax(250px, 500px) minmax(250px, 500px) 2rem; */
    grid-template-columns: 2rem repeat(2, 1fr) 2rem;
    grid-template-rows: 0.025fr 0.1fr 1fr 0.075fr;
    grid-template-areas:
      "navbar  navbar  navbar  navbar"
      ".....  .....  parents-info  ....."
      ".....  main-container  main-container  .....";
  }
}
body::-webkit-scrollbar {
  width: 0.25;
}
body:not(:has(*)) {
  display: none;
}

.navbar {
  grid-area: navbar;
  height: 60px;
  width: 100%;
  background: rgb(230 230 230 / 0.5);
  display: grid;
  grid-template-columns: 0.075fr 1fr 0.5fr 0.075fr;
  grid-template-areas: "..... nav-logo  nav-user-space .....";
  transition: 0.3s;
  z-index: 35;
  position: absolute;
}
.nav-logo,
.nav-user-space {
  grid-area: nav-logo;
  color: var(--clr-acc1);
  display: grid;
  justify-self: start;
  align-self: center;
  font-size: 2rem;
  transition: 0.3s;
}
.nav-logo {
  grid-area: nav-logo;
  justify-self: start;
}
.nav-user-space {
  height: 60px;
  grid-area: nav-user-space;
  justify-self: end;
  position: relative;
}
.nav-user-name {
  font-size: 2rem;
  transition: 0.3s;
}
.nav-user-name:hover {
  color: var(--clr-acc1-hvr);
  /* font-size: 2.5rem; */
}
.nav-user-menu {
  display: none;
  background-color: rgb(230 230 230);
  position: relative;
  /* top: 100%; */
}
.nav-user-space:hover .nav-user-menu {
  display: grid;
}

.main-container {
  width: 100%;
  grid-area: main-container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 175px, 1fr;
  grid-template-areas: "top-container" "menu-container";
}
.top-container {
  grid-area: top-container;
  width: 100%;
  height: 130px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    "greeting-display"
    "points-display";
  place-content: center;
  place-items: center;
  font-size: 4rem;
  transition: 0.3s;
  animation: cardEntrance 1.15s ease-in-out backwards;
}
@media (width > 600px) {
  .top-container {
    grid-area: top-container;
    width: 100%;
    height: 175px;
    margin: auto;
    /* margin-bottom: 50px; */
    font-size: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      "greeting-display greeting-display"
      "points-display points-display";
    place-content: center;
    place-items: center;
  }
}
.greeting-display {
  grid-area: greeting-display;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 3rem;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
  transition: 0.3s;
  animation: fadeIn 0.25s ease-in backwards;
}
@media (width > 600px) {
  .greeting-display {
    grid-area: greeting-display;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 5rem;
    display: flex;
    place-content: center;
    place-items: center;
    text-align: center;
    transition: 0.3s;
    animation: fadeIn 0.25s ease-in backwards;
  }
}
.points-display {
  grid-area: points-display;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 3rem;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
  transition: 0.3s;
  animation: fadeIn 0.25s ease-in backwards;
}
@media (width > 600px) {
  .points-display {
    grid-area: points-display;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 4rem;
    display: flex;
    place-content: center;
    place-items: center;
    text-align: center;
    transition: 0.3s;
    animation: fadeIn 0.25s ease-in backwards;
  }
}
.test {
  margin: auto;
}
.primary-menu-container {
  grid-area: menu-container;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "menu1"
    "menu2"
    "menu3"
    "menu4";
  row-gap: 2rem;
  place-content: center;
  place-items: center;
}
@media (width > 600px) {
  .primary-menu-container {
    /* grid-template-columns: repeat(2, minmax(min(250px, 100%), 1fr)); */
    grid-template-areas:
      "menu1  menu2"
      "menu3  menu4"
      "menu5  menu6"
      "menu7  menu8";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;
    margin-top: 50px;
    place-content: center;
    place-items: center;
  }
}
@media (width > 1700px) {
  .primary-menu-container {
    /* grid-template-columns: repeat(2, minmax(min(250px, 100%), 1fr)); */
    grid-template-areas:
      "menu1  menu2  menu3"
      "menu4  menu5  menu6"
      "menu7  menu8  menu9";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8rem;
    row-gap: 4rem;
    margin-top: 50px;
    place-content: center;
    place-items: center;
  }
}

.secondary-menu-container {
  grid-area: menu-container;
  width: 100%;
  height: 100%;
  /* margin: auto; */
  display: grid;
  align-items: center;
  grid-template-columns: 225px 0.05fr 1fr 1fr 1fr 0.05fr;
  grid-template-rows: 70px repeat(4, 1fr);
  grid-template-areas:
    ".....  .....  .....  .....  return-to-main-menu-btn  return-to-main-menu-btn"
    "menu-headers  ..... menu-apps-container  menu-apps-container menu-apps-container ....."
    "menu-headers  move-menu-left-btn   menu-apps-container  menu-apps-container menu-apps-container move-menu-right-btn"
    "menu-headers  move-menu-left-btn   menu-apps-container  menu-apps-container menu-apps-container move-menu-right-btn"
    "menu-headers  ..... menu-apps-container  menu-apps-container menu-apps-container .....";
  overflow: hidden;
}
.menu-headers {
  grid-area: menu-headers;
  width: 100%;
  height: 100%;
  background-color: var(--clr-wht);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  place-content: center;
  place-items: center;
  z-index: 20;
}
.menu-apps-container {
  grid-area: menu-apps-container;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  /* place-content: center; */
  /* place-items: center; */
  /* overflow: hidden; */
  transition: 0.5s;
}
.secondary-menu-row {
  width: 3000px;
  height: 180px;
  margin: auto;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-auto-columns: 250px;
  /* overflow: hidden; */
}
.parents-info {
  grid-area: parents-info;
  height: 50px;
  width: 225px;
  margin-top: 6rem;
  color: var(--clr-wht);
  background: var(--clr-acc1);
  display: flex;
  border-radius: 5px;
  font-size: 1.5rem;
  place-content: center;
  place-items: center;
  transition: 0.3s;
}
@media (width > 600px) {
  .parents-info {
    grid-area: parents-info;
    height: 50px;
    width: 175px;
    margin-top: 6rem;
    margin-left: auto;
    color: var(--clr-wht);
    background: var(--clr-acc1);
    display: flex;
    border-radius: 5px;
    font-size: 1.5rem;
    place-content: center;
    place-items: center;
    transition: 0.3s;
    /* box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1); */
  }
}

.parents-info:hover {
  transform: translateY(-3px) scale(1.07);
  transition: 0.3s;
}
.parents-info:active {
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}

.div {
  width: 330px;
  height: 175px;
  background: var(--clr-acc1);
  color: var(--clr-wht);
  display: flex;
  border-radius: 20px;
  place-content: center;
  place-items: center;
  line-break: strict;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 24px 35px 7px rgba(0, 0, 0, 0.3);
  --stagger-delay: 0.15s;
}
.primary-menu-div {
  font-size: 3.5rem;
}
@media (min-width: 1700px) {
  .div {
    width: 500px;
    height: 200px;
    background: var(--clr-acc1);
    color: var(--clr-wht);
    display: flex;
    border-radius: 20px;
    place-content: center;
    place-items: center;
    line-break: strict;
    font-size: 4rem;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 24px 35px 7px rgba(0, 0, 0, 0.3);
    --stagger-delay: 0.1s;
    --card-entrance: 0.5s;
  }
  .primary-menu-div {
    font-size: 4rem;
  }
}
.secondary-menu-header {
  width: 200px;
  height: 140px;
  background: var(--clr-wht);
  color: black;
  display: flex;
  border: black 3px solid;
  /* border-radius: 20px; */
  place-content: center;
  place-items: center;
  line-break: strict;
  font-size: 2.25rem;
  transition: 0.3s;
  --stagger-delay: 0.1s;
  --card-entrance: 0.5s;
}
.secondary-menu-div {
  width: 225px;
  height: 140px;
  background: var(--clr-acc1);
  color: var(--clr-wht);
  display: flex;
  border-radius: 20px;
  place-content: center;
  place-items: center;
  line-break: strict;
  font-size: 3rem;
  transition: 0.3s;
  --stagger-delay: 0.1s;
  --card-entrance: 0.5s;
}
.move-menu-left-btn,
.move-menu-right-btn {
  width: 50px;
  aspect-ratio: 1 / cos(30deg);
  background: rgb(201, 201, 21);
  color: var(--clr-wht);
  z-index: 20;
  transition: 0.1s;
  /* border: 2px black solid; */
}
.move-menu-left-btn {
  grid-area: move-menu-left-btn;
  --r: 10px /*border radius */;
  --_g: calc(tan(60deg) * var(--r)) bottom var(--r), #000 98%, #0000 101%;
  mask:/* a conic gradient to fill the middle area of the circle */ conic-gradient(
        from 0deg,
        #000 60deg,
        #0000 120deg,
        #000 240deg,
        #000 60deg,
        #0000 0
      )
      0 100%/100% calc(100% - 3 * var(--r) / 2) no-repeat,
    /* 3 radial gradients for 3 circles */
      radial-gradient(var(--r) at 50% calc(2 * var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at top right var(--_g)),
    radial-gradient(var(--r) at bottom right var(--_g));
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  /* background: linear-gradient(45deg, #fa6900, #c02942); */
}
.move-menu-right-btn {
  grid-area: move-menu-right-btn;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.move-menu-left-btn:hover,
.move-menu-right-btn:hover {
  scale: 1.01;
}
.return-to-main-menu-btn {
  grid-area: return-to-main-menu-btn;
  height: 50px;
  width: 175px;
  margin-left: auto;
  margin-right: 30px;
  color: var(--clr-wht);
  background: var(--clr-acc1);
  display: grid;
  border-radius: 5px;
  font-size: 1.5rem;
  place-content: center;
  place-items: center;
  justify-self: end;
  align-self: center;
  transition: 0.3s;
  z-index: 20;
}
.return-to-main-menu-btn:hover {
  transform: translateY(-3px) scale(1.07);
}
.secondary-menu-div:hover {
  transform: translateY(-3px) scale(1.07);
}
.div-start-menu1 {
  grid-area: menu1;
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(1 * var(--stagger-delay));
}
.div-start-menu2 {
  grid-area: menu2;
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(2 * var(--stagger-delay));
}
.div-start-menu3 {
  grid-area: menu3;
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(3 * var(--stagger-delay));
}
.div-start-menu4 {
  grid-area: menu4;
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(4 * var(--stagger-delay));
}
.div-start-menu5 {
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(5 * var(--stagger-delay));
}
.div-start-menu6 {
  animation: cardEntrance var(--card-entrance) ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(6 * var(--stagger-delay));
}
.div:hover {
  box-shadow: rgba(2, 8, 20, 0.5) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.3) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.07);
  transition: 0.3s;
}

.hide {
  opacity: 0;
  transition: 0.1s;
}
.hidden {
  display: none;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
